body{
    background: url('code.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.content{
    padding-top: 25%;
    color:white;
    text-align: center;
}
hr.style-seven {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}